*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#innu {
    display: block;
    border: 2px solid black;
    
}
form {
    margin-left: 550px;
    margin-top: 50px;
    padding: 25px;
    border: 1px solid rgb(25, 179, 218);
    width:fit-content;
}

    button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #37bbc0;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-top: 17px;
      }
      
      button:hover {background-color: #3e8e41}
      
      button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }


