*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    
}

#innu {
    display: block;
    border: 2px solid black;
    
}
form {
    margin: 0 auto;
    padding: 25px;
   
    width:fit-content;
}

    button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #37bbc0;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-top: 17px;
      }
      
      button:hover {background-color: #8e5e3e}
      
      button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

section{
    background-image: url("picy.jfif");
}

label {

    font-size: 20px;
    font-weight: bold;
    color: rgb(18, 20, 5);
}

#foot {
    margin-left: 50%;
    width: fit-content;
   
}

#foot:hover {
    background-color:brown;
}


